h1 {
    font-family: 'zabars';
    font-size: 56px !important;
    padding: 40px 0 !important;
}

.whole_imprint {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    margin-top: 0;
    font-family: 'Arial';
}

.content {
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.sub_div {
    background-color: #0000003b;
    color: antiquewhite;
    padding: 18px;
    border-radius: 14px;
}

.sub_heading {
    font-weight: 600;
    padding-bottom: 4px;
}